.Card {
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.3rem 1rem;
  gap: 1rem;
  width: 25%;
 
  
  flex-shrink: 0;
  border-radius: 22px;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  /* background-image: linear-gradient(149deg, rgba(38, 4, 54, 0.85) 3.4%, rgba(67, 9, 92, 0.85) 315.88%); */
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(20px);
  
  @include mobile  {
    width: 100%;
    padding: 1rem 0.5rem;
  }
  @include tablet {
    width: 30%;
    padding: 1rem 0.5rem;
  }
  h2,p {
    font-family: Clash Grotesk;
    width: 80%;
    color: #FFF;
    font-size: 14px;
    opacity: 80%;
    @include notDesktop {
      font-size: 12px;
    }
  }
  h1 {
    color: #FFF;
    text-align: center;
    font-family: Clash Grotesk;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 134.5%;
    @include notDesktop {
      font-size: 1rem;
    }
  }
  .footer-avatar {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background: #FFF;
    margin-bottom: 1rem;
    @include notDesktop {
      width: 8rem;
      height: 8rem;
      ;
  
    }
    
  }
}

.Footer-wrapper {

  padding: 10px;
  width: 100%;
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

  }
  @include notDesktop {
    padding: 0 1rem;
    gap: 2rem;
  }
  // position: relative;
  gap: 4rem;
}
#crown1 {
  fill:  #ffc500;
 }

/* .Footer-wrapper::before {
  content: "";

  position: absolute;
  left: 0;
  top: 25%;
  right: 0;
  height: 202px;
  background: #1F0E36;
  margin: 0;
  padding: 0;
} */

.footer-header {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

/* .footer-title {

  color: #FFF;
  text-align: center;

  font-family: Clash Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;

} */