.Navigation {
    @apply flex items-center justify-center;
}

.Navigation li {

    @apply mr-[72px] text-[1.4rem] font-normal text-white;

}

.Navigation li:hover {
    font-size: 1.4rem;
    font-weight: normal;
    color: #D4ADFC;
    cursor: pointer;

}

.Navigation li:last-child {
    @apply mr-0;
}

.wrapper {
    width: var(--wrapper-width);
    /* background: var(--color-background); */
    max-width: 100%;
    margin: auto;
    padding-top: 2rem;
    /* border-bottom: 1px solid transparent; */
    @apply px-5;
}

.wrapper-header {

    position: fixed;
    z-index: 1337;
    border-radius: 0 0 1.5rem 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%;
    height: max-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.22);
}