@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("./fonts.css");
@import url("./main/header/_header.css");
@import url("./main/Hero/_hero.css");
@import url("./main/Footer/_footer.css");
@import url("./Login/Login.css");


:root {
  --wrapper-width: 1280px;
  --color-background: linear-gradient(149deg, #15011E 3.4%, #3D0655 315.88%);
  --color-button: linear-gradient(102deg, #4E0A6B 9.72%, #F417C4 184.28%);
  --transition: cubic-bezier(0.59, 0, 0.06, 1);
  --light: white;
  --dark: black;

}


* {
  /* background: var(--color-background); */
  /* background-color: var(--color-background); */
  z-index: 1;
  margin: 0;
  padding: 0;
  background: none;
}

html {
  height: 100%;
  /* background: var(--color-background); */
  /* background-color: var(--color-background); */
}

body {
  background: var(--color-background);
  height: 100%;
  width: 100%;
}