@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);

    }
}

@keyframes left {
    100% {
        transform: translateX(-40px);
    }
}

.imageBall {
    animation: bounce 5s ease-in-out infinite;
    position: absolute;
    top: 20rem;
    left: 30rem;
    z-index: -1;
}

.imageBall img {
    margin: auto;
}

.rectangle {
    z-index: 1;
    width: 401.418px;
    height: 490.6px;
    border-radius: 59px;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    backdrop-filter: blur(40px);
}

.close {
    width: 1280px;
    position: relative;
    margin: auto;
}



@media (max-width: 1280px) {
    .close {
        width: auto;
        position: relative;
        margin: auto;
    }


}

@media (max-width: 640px) {
    .close {
        width: 1280px;
        position: relative;
        margin: auto;
    }

    .rectangle {
        z-index: 1;
        width: 300.418px;
        height: 400.6px;
        border-radius: 59px;
        background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
        backdrop-filter: blur(40px);
    }

    .imageBall {
        position: absolute;
        animation: bounce 5s ease-in-out infinite;
        top: 20rem;
        left: 0rem;
        z-index: -1;
    }

    .imageBall::before {
        content: "";
        position: absolute;
        animation: left 5s ease-in-out forwards;
        top: 20rem;
        left: 0rem;
        z-index: -1;
    }

}